@import "tailwindcss";

@source "../../../*/src/**/*.{astro,tsx}";

@theme {
  --color-heliotrope: #e879f9;
  --color-pink: #f472b6;
  --color-green: #34d399;
  --color-indigo: #818cf8;
  --color-purple: #c084fc;
  --color-emerald: #4ade80;
  --color-blue: #60a5fa;
  --color-cyan: #22d3ee;
  --color-yellow: #facc15;
  --color-lime: #a3e635;
  --color-orange: #fb923c;
  --color-fuchsia: #fb7185;
}

.card-shadow {
  filter: drop-shadow(5px 5px 0 rgb(0 0 0 / 1));
  transition: all;
  transition-duration: 0.5s;
  animation: ease-in-out;
}

@media (width >= 40rem) {
  .card-shadow:hover {
    filter: drop-shadow(10px 10px 0 rgb(0 0 0 / 1));
  }
}

:root {
  /* ---- ⚫️ Colors ⚪️ ---- */
  /* Base Tokens */
  --sys-color-white: #ffffff;
  --sys-color-black: #000000;

  /* Theme Tokens */
  --primary: var(--sys-color-white);
  --secondary: var(--sys-color-black);
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: aliceblue;
}
