---
import { getCollection } from "astro:content";
import Layout from "@layouts/Default.astro";
import PostGrid from "@components/generic/PostGrid.astro";
import BlogSummaryCard from "@components/blog/BlogSummaryCard.astro";
import PostItem from "@components/generic/PostItem.astro";

const posts = await getCollection("blog").then((collection) =>
  collection.reverse()
);
---

<Layout title="Blog" description="Blog | Here's my blog!" pageTitle="Blog">
  <main class="bg-green p-6">
    <PostGrid>
      {
        posts.map((post) => (
          <PostItem>
            <BlogSummaryCard post={post} baseUrl="/blog" />
          </PostItem>
        ))
      }
    </PostGrid>
  </main>
</Layout>
