---
import Layout from "@layouts/Default.astro";

import Card from "@components/atoms/Card.astro";
import CopyResumeLinkButton from "@components/resume/copyResumeLinkButton.astro";
import DownloadResumeButton from "@components/resume/downloadResumeButton.astro";
import SeriousExperience from "@components/resume/seriousExperience.astro";
import SeriousEducation from "@components/resume/seriousEducation.astro";
import SeriousExpertise from "@components/resume/seriousExpertise.astro";
import Button from "@components/atoms/Button.astro";
---

<Layout
  title="Tristan Sweeney"
  pageTitle="Tristan Sweeney | Home"
  description="Hi! I'm Tristan. I write software for fun, and also to get paid"
  classList="flex flex-col min-h-screen"
>
  <main class="flex grow flex-col items-center bg-gray-300">
    <Button class="m-4 bg-[#4ade80] p-4" href="/resume/fun">
      <div class="flex flex-row items-center gap-2">
        <div class="i-uil-info-circle h-8 w-8"></div>
        <div>
          This is the serious version of my resume, click here for the fun
          version.
        </div>
      </div>
    </Button>

    <section
      id="resume"
      class="flex w-full flex-col items-stretch px-4 sm:mx-8"
    >
      <div class="flex flex-col items-center">
        <Card
          class="sm:w-4xl mb-8 flex w-full flex-col items-center gap-8 bg-white p-4"
        >
          <SeriousExperience />
          <SeriousEducation />
          <SeriousExpertise />
        </Card>
      </div>
    </section>

    <div class="sticky bottom-0">
      <Card
        class="m-4 mt-0 flex flex-row items-center justify-center gap-8 bg-[#4ade80] px-8"
      >
        <CopyResumeLinkButton />
        <DownloadResumeButton />
      </Card>
    </div>
  </main>
</Layout>
