---
import Button from "@components/atoms/Button.astro";
---

<Button href="/v1/generate/resume.pdf" download="TristanSweeneyResume.pdf">
  <div class="flex flex-row items-center">
    <div class="text-sm">Download PDF</div>
    <div class="i-uil-file-download h-8 w-8"></div>
  </div>
</Button>
