---
import SiteCredits from "@components/molecules/SiteCredits.astro";
import SiteNav from "@components/molecules/SiteNav.astro";
import SiteTitle from "@components/molecules/SiteTitle.astro";
import ToTopButton from "@components/atoms/ToTopButton.astro";

interface Props {
  backToTop?: boolean;
}

const { backToTop = false } = Astro.props;
---

{backToTop && <ToTopButton />}

<footer class="outfit bg-black p-6">
  <div class="flex flex-row items-center justify-between">
    <h2 class="hidden">Footer</h2>
    <SiteTitle class="text-white" evil />
    <SiteNav class="text-white" />
  </div>
  <SiteCredits class="text-white" />
</footer>
