---
import Layout from "@layouts/Default.astro";
import RecentBlogPosts from "@components/generic/RecentBlogPosts.astro";
import MobileSocials from "@components/home/MobileSocials.astro";
import Tech from "@components/home/Tech.astro";
import Hero from "@components/home/Hero.astro";
import AboutMe from "@components/home/AboutMe.astro";
import Fullstack from "@components/home/Fullstack.astro";

import Card from "@components/atoms/Card.astro";
import Tools from "@components/home/Tools.astro";
import Fonts from "@components/home/Fonts.astro";
import Colors from "@components/home/Colors.astro";
import BuiltWith from "@components/home/BuiltWith.astro";
import PeanutGallery from "@components/home/PeanutGallery.astro";
---

<Layout
  title="Tristan Sweeney"
  pageTitle="Tristan Sweeney | Home"
  description="Hi! I'm Tristan. I write software for fun, and also to get paid"
>
  <main class="bg-pink">
    <MobileSocials />
    <section
      id="about"
      class="flex flex-row flex-wrap pt-4"
      data-masonry={JSON.stringify({
        itemSelector: ".brick",
        columnWidth: ".brick-sizer",
        percentPosition: true,
        horizontalOrder: true,
      })}
    >
      <h2 class="hidden">About Me</h2>
      <div class="brick p-4 md:w-1/2">
        <Card class="bg-[#c084fc]">
          <Hero />
        </Card>
      </div>
      <div class="brick-sizer brick p-4 md:w-1/4">
        <Card class="bg-[#fb923c]">
          <Tech />
        </Card>
      </div>
      <div class="brick p-4 md:w-1/4">
        <Card class="bg-[#facc15]">
          <Fullstack />
        </Card>
      </div>
      <div class="brick p-4 md:w-1/4">
        <Card class="bg-[#facc15]">
          <Tools />
        </Card>
      </div>
      <div class="brick p-4 md:w-3/4">
        <Card class="bg-[#60a5fa]">
          <AboutMe />
        </Card>
      </div>
      <div class="brick p-4 md:w-1/4">
        <Card class="bg-[#fb7185]">
          <BuiltWith />
        </Card>
      </div>
      <div class="brick p-4 md:w-2/4">
        <Card class="bg-[#a3e635]">
          <Fonts />
        </Card>
      </div>
      <div class="brick p-4 md:w-1/4">
        <Card class="bg-[#e879f9]">
          <Colors />
        </Card>
      </div>
      <div class="brick p-4 md:w-1/4">
        <Card class="bg-[#22d3ee]">
          <PeanutGallery />
        </Card>
      </div>
    </section>
    <div class="p-4">
      <RecentBlogPosts baseUrl="/blog" plural="blogposts" collection="blog" />
      <RecentBlogPosts
        baseUrl="/projects"
        plural="projects"
        collection="projects"
      />
    </div>
    <script>
      import "masonry-layout";
    </script>
  </main>
</Layout>
