---
import Layout from "@layouts/Default.astro";
import RecentBlogPosts from "@components/generic/RecentBlogPosts.astro";
import MobileSocials from "@components/home/MobileSocials.astro";
import Tech from "@components/home/Tech.astro";
import Hero from "@components/home/Hero.astro";
import AboutMe from "@components/home/AboutMe.astro";
import Fullstack from "@components/home/Fullstack.astro";
import { Card } from "@eliancodes/brutal-ui";
import Tools from "@components/home/Tools.astro";
---

<Layout
  title="Tristan Sweeney"
  pageTitle="Tristan Sweeney | Home"
  description="Hi! I'm Tristan. I write software for fun, and also to get paid"
>
  <main class="bg-pink p-6">
    <MobileSocials />
    <section id="about" class="grid md:grid-cols-8 gap-8 mt-4">
      <h2 class="hidden">About Me</h2>
      <div class="col-span-4">
        <Card color="#c084fc">
          <Hero />
        </Card>
      </div>
      <div class="col-span-2">
        <Card color="#fb923c">
          <Tech />
        </Card>
      </div>
      <div class="col-span-2">
        <Card color="#facc15">
          <Fullstack />
        </Card>
      </div>
      <div class="col-span-6">
        <Card>
          <AboutMe />
        </Card>
      </div>
      <div class="col-span-2">
        <Card color="#facc15">
          <Tools />
        </Card>
      </div>
    </section>
    <RecentBlogPosts baseUrl="/blog" plural="blogposts" collection="blog" />
    <RecentBlogPosts
      baseUrl="/projects"
      plural="projects"
      collection="projects"
    />
  </main>
</Layout>
