---
import Layout from "@layouts/Default.astro";
import RecentBlogPosts from "@components/generic/RecentBlogPosts.astro";
import MobileSocials from "@components/home/MobileSocials.astro";
import Tech from "@components/home/Tech.astro";
import Hero from "@components/home/Hero.astro";
import AboutMe from "@components/home/AboutMe.astro";
import Fullstack from "@components/home/Fullstack.astro";
import { Card } from "@eliancodes/brutal-ui";
import Tools from "@components/home/Tools.astro";
import Fonts from "@components/home/Fonts.astro";

const colors = [
  "#c084fc",
  "#f472b6",
  "#fb7185",
  "#e879f9",
  "#a78bfa",
  "#818cf8",
  "#60a5fa",
  "#38bdf8",
  "#22d3ee",
  "#2dd4bf",
  "#34d399",
  "#4ade80",
  "#a3e635",
  "#facc15",
  "#fb923c",
  "#f87171",
];
---

<Layout
  title="Tristan Sweeney"
  pageTitle="Tristan Sweeney | Home"
  description="Hi! I'm Tristan. I write software for fun, and also to get paid"
>
  <main class="bg-pink p-6">
    <MobileSocials />
    <section
      id="about"
      class="mt-4 flex flex-row flex-wrap"
      data-masonry={JSON.stringify({
        itemSelector: ".brick",
        columnWidth: ".brick-sizer",
        percentPosition: true,
        horizontalOrder: true,
      })}
    >
      <h2 class="hidden">About Me</h2>
      <div class="brick md:w-1/2 p-4">
        <Card color="#c084fc">
          <Hero />
        </Card>
      </div>
      <div class="brick-sizer brick md:w-1/4 p-4">
        <Card color="#fb923c">
          <Tech />
        </Card>
      </div>
      <div class="brick md:w-1/4 p-4">
        <Card color="#facc15">
          <Fullstack />
        </Card>
      </div>
      <div class="brick md:w-1/4 p-4">
        <Card color="#facc15">
          <Tools />
        </Card>
      </div>

      <div class="brick md:w-3/4 p-4">
        <Card color="#a78bfa">
          <AboutMe />
        </Card>
      </div>
      <div class="brick md:w-2/4 p-4">
        <Card color="#a3e635">
          <Fonts />
        </Card>
      </div>
      <div class="brick md:w-1/4 p-4">
        <Card color="#e879f9">
          <h2 class="text-2xl md:text-4xl lg:text-6xl mb-8 sanchez">Colors</h2>
          <div class="flex flex-row flex-wrap gap-4">
            {
              colors.map((color) => (
                <div
                  class="w-20 h-20 items-center justify-center rounded-full flex border-2 border-black"
                  style={{ backgroundColor: color }}
                >
                  {color}
                </div>
              ))
            }
          </div>
        </Card>
      </div>
    </section>
    <RecentBlogPosts baseUrl="/blog" plural="blogposts" collection="blog" />
    <RecentBlogPosts
      baseUrl="/projects"
      plural="projects"
      collection="projects"
    />
    <script>
      import "masonry-layout";
    </script>
  </main>
</Layout>
