---
import Layout from "@layouts/Default.astro";

import Card from "@components/atoms/Card.astro";
import Education from "@components/resume/education.astro";
import Experience from "@components/resume/experience.astro";
import Expertise from "@components/resume/expertise.astro";
import CopyResumeLinkButton from "@components/resume/copyResumeLinkButton.astro";
import DownloadResumeButton from "@components/resume/downloadResumeButton.astro";
---

<Layout
  title="Tristan Sweeney"
  pageTitle="Tristan Sweeney | Home"
  description="Hi! I'm Tristan. I write software for fun, and also to get paid"
  classList="flex flex-col min-h-screen"
>
  <main class="grow bg-[#818cf8]">
    <section id="resume" class="flex flex-col items-center">
      <div class="sm:w-3/4">
        <Experience />
        <div class="block grid-cols-3 gap-4 sm:grid">
          <Education />
          <Expertise class="col-span-2" />
        </div>
      </div>

      <div class="sticky bottom-0">
        <Card class="m-4 bg-[#4ade80]">
          <div class="flex flex-row items-center justify-center gap-8 px-8">
            <CopyResumeLinkButton />
            <DownloadResumeButton />
          </div>
        </Card>
      </div>
    </section>
  </main>
</Layout>
