---
const colors = [
  "#c084fc",
  "#f472b6",
  "#fb7185",
  "#e879f9",
  "#a78bfa",
  "#818cf8",
  "#60a5fa",
  "#38bdf8",
  "#22d3ee",
  "#2dd4bf",
  "#34d399",
  "#4ade80",
  "#a3e635",
  "#facc15",
  "#fb923c",
  "#f87171",
];
---

<h2 class="text-2xl md:text-4xl lg:text-6xl mb-8 sanchez">Colors</h2>
<div class="flex flex-row flex-wrap gap-4">
  {
    colors.map((color) => (
      <div
        class="w-20 h-20 items-center justify-center rounded-full flex border-3 border-black"
        style={{ backgroundColor: color }}
      >
        {color}
      </div>
    ))
  }
</div>
