---
import Button from "@components/atoms/Pill.astro";
---

<h2 class="text-2xl md:text-4xl lg:text-6xl mb-4 dm-serif">
  What is a full-stack engineer?
</h2>

<Button target={"_self"} href="https://www.martinfowler.com/" color="#60a5fa">
  <blockquote>
    Any fool can write code that a computer can understand. Good programmers
    write code that humans can understand.
  </blockquote>
  <cite>Martin Fowler</cite>
</Button>

<p class="poppins mt-2">
  Full-stack engineers write code that humans can understand for web, mobile,
  and backend (server-side) environments.
</p>
