---
import Button from "@components/atoms/Button.astro";
---

<div class="flex flex-col items-start justify-between gap-4">
  <p class="outfit mt-4 text-2xl md:text-5xl lg:text-7xl">
    Software engineer for <span class="text-white">humans</span>
  </p>
  <p class="outfit mt-2 text-xl md:text-3xl lg:text-5xl">
    Bringing together developers, by bringing together technology.
  </p>
  <Button target={"_self"} href="/blog/">Check out my blog &rarr;</Button>
</div>
