---
import Button from "@components/atoms/Button.astro";
---

<div class="flex flex-col justify-between items-start gap-4">
  <p class="mt-4 outfit text-2xl md:text-5xl lg:text-7xl">
    Software engineer for <span class="text-white">humans</span>
  </p>
  <p class="mt-2 outfit text-xl md:text-3xl lg:text-5xl">
    Bringing together developers, by bringing together technology.
  </p>
  <Button target={"_self"} href="/blog/">Check out my blog &rarr;</Button>
</div>
