---
const socials = [
  {
    name: "GitHub",
    url: "https://github.com/sweeneytr",
    icon: "i-uil-github",
  },
  {
    name: "LinkedIn",
    url: "https://www.linkedin.com/in/tristansweeney",
    icon: "i-uil-linkedin",
  },
];
---

<section class="md:hidden">
  <h2 class="hidden">Socials section</h2>
  <ul class="flex justify-between">
    {
      socials.map((item) => (
        <li class="text-green card-shadow rounded border-2 border-black bg-white px-4 py-2">
          <a href={item.url} target="_blank" title={`Go to ${item.name}`}>
            <div class:list={[item.icon, "p-6"]} />
          </a>
        </li>
      ))
    }
  </ul>
</section>
