---

---

<h2 class="text-2xl md:text-4xl lg:text-6xl mb-4 outfit">Peanut Gallery</h2>

<ul class="text-xl flex flex-col gap-4">
  <li>
    If I asked my customers what they wanted, they'd say "faster horses". If I
    asked sales what my customers wanted, they'd say "longer horses"
  </li>

  <li>“Annoyingly competent”</li>
  <li>"Competently annoying"</li>
  <li>
    "Tristan is the ringer you call in when you know your problem could be easy"
  </li>
  <li>“His skills are as relevant as his humor is irreverent”</li>
</ul>
