---
import { getCollection } from "astro:content";
import Layout from "@layouts/Default.astro";
import PostGrid from "@components/generic/PostGrid.astro";
import BlogSummaryCard from "@components/blog/BlogSummaryCard.astro";
import PostItem from "@components/generic/PostItem.astro";

const posts = await getCollection("projects").then((collection) =>
  collection.toSorted(
    (a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime()
  )
);
---

<Layout
  title="Projects"
  description="Projects | Here's some fun things I've worked on!"
  pageTitle="My Projects"
>
  <main class="bg-purple p-6">
    <PostGrid>
      {
        posts.map((post) => (
          <PostItem>
            <BlogSummaryCard post={post} context={{ baseUrl: "/projects" }} />
          </PostItem>
        ))
      }
    </PostGrid>
  </main>
</Layout>
