---
import { getCollection } from "astro:content";
import Layout from "@layouts/Default.astro";
import PostGrid from "@components/generic/PostGrid.astro";
import BlogSummaryCard from "@components/blog/BlogSummaryCard.astro";
import PostItem from "@components/generic/PostItem.astro";

const posts = await getCollection("projects").then((collection) =>
  collection.reverse()
);
---

<Layout
  title="Projects"
  description="Brutal Blog | On this page you can find a collection of blogposts"
  pageTitle="My Projects"
>
  <main class="bg-purple p-6">
    <PostGrid>
      {
        posts.map((post) => (
          <PostItem>
            <BlogSummaryCard post={post} />
          </PostItem>
        ))
      }
    </PostGrid>
  </main>
</Layout>
