---
import type { HTMLAttributes } from "astro/types";
import { colors } from "../../colors";
import { twMerge } from "tailwind-merge";

interface Props extends HTMLAttributes<"div"> {
  color?: string;
}

const {
  class: className,
  color = colors[Math.floor(Math.random() * colors.length)],
  ...rest
} = Astro.props;
---

<style>
  div.brutal-card {
    filter: drop-shadow(5px 5px 0 rgb(0 0 0 / 1));
  }
  div.brutal-card:hover {
    filter: drop-shadow(7px 7px 0 rgb(0 0 0 / 1));
  }
</style>

<div
  class:list={[
    "brutal-card",
    twMerge(
      "border-3 transition-filter rounded-xl border-black p-4 duration-500 ease-in-out",
      className,
    ),
  ]}
  {...rest}
>
  <slot />
</div>
