---
import { twMerge } from "tailwind-merge";
const { class: className } = Astro.props;
---

<p>
  <span class={twMerge("outfit", className)}
    >© 2017-{new Date().getFullYear()} by Tristan Sweeney</span
  >
</p>
<p class="text-slate outfit">
  <a href="https://github.com/eliancodes/brutal" class="underline">Brutal</a>
  by <a href="https://www.elian.codes/" class="underline">Elian Codes</a>
  - Icons by <a href="https://icons8.com/" class="underline">Icons8</a>
  - Built with <a href="https://astro.build/" class="underline">Astro</a>
</p>
