---
interface Props {
  author: string;
  url: string;
}

const { author, url } = Astro.props;
---

<span
  class="hover:text-green hover:underline transition-all duration-150 ease-in-out"
>
  photo by <a href={url}>{author}</a>
</span>
