---
interface Props {
  headings: Array<Object>;
}

const { headings } = Astro.props;
---

<style>
  nav.brutal-card {
    filter: drop-shadow(5px 5px 0 rgb(0 0 0 / 1));
  }

  @media (width >= 40rem) {
    nav.brutal-card:hover {
      filter: drop-shadow(10px 10px 0 rgb(0 0 0 / 1));
    }
  }
</style>
<aside>
  <nav
    class="transition-filter border-3 brutal-card sticky top-6 hidden w-fit rounded-xl border-black bg-white p-4 duration-500 ease-in-out lg:block"
  >
    <ul>
      {
        headings.map((heading: any) => (
          <li class="py-1">
            {[...Array(heading.depth - 1)].map((_, _i) => (
              <span class="inline-block w-4" />
            ))}
            <a
              class="hover:text-stone text-dark poppins transition-all duration-150 ease-in-out"
              href={`#${heading.slug}`}
            >
              {heading.text}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</aside>
